@import "tailwindcss/preflight";
@tailwind utilities;
@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #744d7e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body,
html {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: Vazirmatn, sans-serif;
  direction: rtl;
  unicode-bidi: bidi-override;
  text-align: right;
  font-family: Vazirmatn, sans-serif;
  font-feature-settings: "ss01";
  unicode-bidi: bidi-override;
  font-variant-numeric: normal;
}

* {
  margin: 0;
  padding: 0;
  font-variant-numeric: normal;
  font-feature-settings: "locl";
}
:lang(fa) {
  font-family: Vazirmatn, sans-serif;
  font-feature-settings: "locl";
}
